 body {
            margin: 0;
            font-family: 'Georgia', serif;
            background-color: #ffffff;
            color: #3b2a2f;
        }



        /* CONTAINER GERAL */
        .container {
            display: flex;
            justify-content: center;
            gap: 60px;
            padding: 60px;
        }

        /* CARD ESQUERDO */
        .left-card {
            background-color: #ffe1e8;
            padding: 40px;
            height: 21rem;
            width: 380px;
            border-radius: 25px;
        }

        .left-card h2 {
            font-size: 32px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .left-card p,
        .left-card li {
            font-size: 17px;
            line-height: 1.6;
        }

        .left-card ul {
            margin-top: 10px;
        }


        .card-id {
            margin-top: 25px;
            background-color: #f7b8c7;
            padding: 12px 20px;
            font-size: 20px;
            border-radius: 12px;
            font-weight: bold;
            text-align: center;
        }

        /* CARD DIREITO */
        .right-card {
            background-color: #ffe1e8;
            padding: 30px;
            width: 480px;
            max-width: 100%;
            border-radius: 25px;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 12px;
            margin-bottom: 35px;
        }

        .stamp {
            width: 100%;
            padding-top: 100%;
            background-color: #f7b8c7;
            border-radius: 15px;
            position: relative;
        }

        .stamp img {
            position: absolute;
            width: 55%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .divider {
            width: 100%;
            height: 1px;
            background-color: #b9a4a9;
            margin-bottom: 25px;
        }

        .btn-disabled {
            width: 280px;
            padding: 12px;
            background-color: #d8d8d8;
            border-radius: 10px;
            font-size: 20px;
            text-align: center;
            color: #7b7b7b;
            margin: auto;
        }