body {
      margin: 0;
      font-family: "Georgia", serif;
      background: #fff;
    }



    #hero {
      width: 100%;
      height: 420px;
      background: url("../IMG/banner.png") center/cover no-repeat;
      display: flex;
      align-items: center;
      color: white;
    }

    #hero .content {
      margin-left: 60%;
      max-width: 380px;
    }

    #hero .content .fundo a {
      
      font-family: Georgia, 'Times New Roman', Times, serif;
      background: #0b3d29;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 20px;
      margin-top: 50px;
      cursor: pointer;
      display: inline-block;
      margin-top: 5%;
    }

    section h2 {
      text-align: center;
      font-size: 32px;
      margin: 40px 0;
      font-weight: 700;
    }

    .products {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 50px;
      max-width: 900px;
      margin: 0 auto;
    }

    .card {
      background: #ffe1ea;
      padding: 10px;
      border-radius: 20px;
      text-align: center;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }

    .card img {
      width: 120px;
      margin: auto;
    }

    .card .botao {
      background: #126644;
      color: white;
      text-decoration: none;
      border: none;
      padding: 15px 30px;
      border-radius: 20px;
      margin-top: 10px;
      cursor: pointer;
      transition: 0.4s;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 17px;

    }

    .card p{
      margin-left: 3%;
      margin-right: 3%;
    }



    .card button:hover {
      transform: scale(1.03);
      background: #136d49;
    }

    

    .feedback {
      background: #5a2d3a;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      padding: 40px 20px;
      border-radius: 20px;
      max-width: 700px;
      margin: 40px auto;
    }

    .feedback input {
      width: 90%;
      padding: 12px;
      border-radius: 10px;
      border: none;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .feedback button {
      background: #f9aac3;
      border: none;
      padding: 12px 25px;
      border-radius: 15px;
      font-size: 18px;
      cursor: pointer;
      color: #5a2d3a;
      font-weight: bold;
      width: 93%;
      transition: 0.3s;
    }

    .feedback button:hover {
      transform: scale(1.03);
      background: #c56382;
      color: #fafafa;
    }

    .about {
      background: #fafafa;
      text-align: center;
      padding: 50px 60px;

      font-size: 20px;
      line-height: 1.8;
    }

    .about p {
      margin-left: 7%;
      margin-right: 7%;
      padding: 2%;

    }

    

    .fundo {
      background-color: #270a0a93;
      padding: 50px;
      width: 20rem;
      border-radius: 20px;
    }

    .fundinho {
      padding: 20px;

      background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
        url('https://img.freepik.com/vetores-gratis/padrao-de-desenho-de-graos-de-cafe-desenhados-a-mao_23-2150646733.jpg');

      background-position: center;
      margin-top: 2%;
      margin-bottom: 3%;
    }

    .card .btn-carrinho {
      background-color: #126644;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3rem;
      width: 3rem;
      margin-top: 4%;
      margin-left: 4%;
      color: white;
      border: none;
      cursor: pointer;

    }

    .toast {
      position: fixed;
      right: 41%;
      bottom: 18px;
      background: rgba(0, 0, 0, 0.726);
      color: #fff;
      padding: 20px 20px;
      border-radius: 10px;
      transform: translateY(8px);
      opacity: 0;
      transition: opacity 220ms ease, transform 220ms ease;
      pointer-events: none;
      z-index: 9999;
      font-size: 15px;
    }

    .toast.visible {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }

    .alinhamento{
      display: flex;
      justify-content: center;
    }