body{
    background-image: url(../IMG/Frame\ 11.png);
    background-repeat: no-repeat;
    background-size: cover;
  
}

.container{

    background-color: rgb(255, 168, 248);
    display: flex;
    flex-direction: column;
    width: 60%;
}