@import url('https://fonts.googleapis.com/css?family=Goblin+One');

*{
    margin: 0;
    padding: 0;
}

body{
   
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.fundo{
    z-index: -2;
    width: 100%;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.fundo img{
    width: 20%;
    
}

.container{
    background-color: #673C4E;
    color: white;
    width: 30%;
    border-radius: 20px;
    height: 30rem;
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
}

.container img{
    width: 20%;
}

.container h2{
    font-family: 'Goblin One', sans-serif;
    font-size: 100%;
}

.container .texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
    gap: 0.5rem;
}

.container .texto a{
    color: #69FF61;
    text-decoration: none;

}

.container form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
}

.container form input{
    height: 1rem;
    padding: 10px;
    border-radius: 10px;
    border: none;
    
}

.container form input:focus{
    outline: none;
}

.container form .botao{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    border-radius: 10px;
    border: none;
    background-color: #589355;
    color: white;
    font-size: 120%;
    font-family: 'Goblin One', sans-serif;
    transition: 0.5s;
}

.container form .botao:hover{
    transform: scale(1.02);
    cursor: pointer;
}



