@import url('https://fonts.googleapis.com/css?family=Goblin+One');

*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: #673C4E;
    height: 6rem;
    display: flex;
    justify-content: space-around;
}

nav div{
    
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

nav div a{
    list-style: none;
    text-decoration: none;
    color: white;
}

nav img{
    width: 4rem;
    height: 4rem;
}


.my-icon{
    font-size: 1.3rem;
}

