body {
            margin: 0;
            font-family: 'Georgia', serif;
            background-color: #e7dbdb;
            color: #3b2a2f;
        }

        .container {
            width: 90%;
            margin: 40px auto;
            background: #dfd2d2;
            padding: 40px;
            border-radius: 12px;
        }

        h1 {
            font-size: 40px;
            margin-bottom: 10px;
            font-weight: bold;
        }

        .card {
            background: #fcd9e2;
            border-radius: 20px;
            padding: 30px;
            margin-top: 40px;
        }

        .top-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .top-left {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .product-img {
            width: 90px;
            height: 90px;
            border-radius: 12px;
            object-fit: cover;
        }

        .order-id {
            background: #f7bccc;
            padding: 20px;
            border-radius: 12px;
            font-size: 20px;
            text-align: center;
        }

        hr {
            border: none;
            border-top: 1px solid #bbaaaa;
            margin: 25px 0;
        }

        .info-row {
            display: flex;
            align-items: center;
            gap: 15px;
            font-size: 18px;
            margin-bottom: 20px;
        }

        .map {
            width: 100%;
            border-radius: 15px;
            margin-top: 10px;
        }