body {
      margin: 0;
      font-family: 'Georgia', serif;
      background: #ffffff;
      color: #3d2b30;
    }


  
    #hero {
      display: flex;
      align-items: center;
      padding: 40px;
      gap: 40px;
      background: #673C4E;
    }

    #hero img.logo {
      top: 25%;
      position: absolute;

      max-width: 380px;
    }

    #hero .text h1 {
      font-size: 48px;
      color: #ffffff;

      display: flex;
      margin-left: 30rem;
    }

    #hero .text h3 {
      color: rgb(255, 255, 255);
      font-size: 24px;
      margin-top: 10px;
      margin-left: 30rem;
    }

   
    .section {
      padding: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }

    .section img {
      width: 320px;
      border-radius: 10px;
      transition: 4s;

    }


    .section p {
      max-width: 560px;
      margin-left: 25%;
      font-size: 18px;
      line-height: 1.7;
    }

    .origem-box {
      background: #ffe1ea;
      padding: 50px;
      margin: 40px;
      width: 70%;
      border-radius: 20px;
      text-align: center;
    }

    .origem-box h2 {
      font-size: 32px;
    }

    .origem-box p {
      font-size: 17px;
      max-width: 800px;
      margin: 20px auto;
      line-height: 1.8;
    }

    .origem-box img {
      width: 80%;
      margin-top: 30px;
      border-radius: 5px;
    }

    .final-section {
      display: flex;
      padding: 60px;
      align-items: center;
      justify-content: center;
      gap: 40px;
    }

    .final-section p {
      max-width: 500px;
      font-size: 18px;
      line-height: 1.7;
    }

    .final-section img {
      width: 320px;
      border-radius: 10px;
    }

    .alinhamento {
      display: flex;
      justify-content: center;
    }